<?xml version="1.0"?>

<configuration
    xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<connectionStrings>

		<add name="HelpFlow"
			 connectionString="Server=.\SQLEXPRESS;Database=HelpFlow;User Id=helpflow_app;Password=TU_PASSWORD;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes"
			 xdt:Locator="Match(name)" />

	</connectionStrings>

	<system.web>

		<compilation
			debug="false" xdt:Transform="SetAttributes(debug)" />
	</system.web>

</configuration>